* {
  margin: 0;
  padding: 0;
  font-family: 'Verdana', Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  line-height: calc(1em + 0.5rem); 
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  width: 100%;
  min-height: 100vh;
  overflow-x: auto;
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, var(--clr-blue), var(--clr-purple));
}

header {
  padding: 1rem;
}

main {
  padding: 1rem;
}

img {
  display: block;
  width: 100%;
  user-select: none;
  object-fit: contain;
  height: auto;
}

button {
  cursor: pointer;
  border: 0;
}

textarea {
  border: 0;
  outline: 0;
  padding: 1rem;
  font-size: 1rem;
  resize: none;
  background-color: var(--clr-very-light-grey);
  width: clamp(var(--container-xxxsm), 90vw, var(--container-md));
  height: clamp(var(--container-h-xsm), 100vh, var(--container-h-sm));
}

textarea::placeholder {
  color: var(--clr-white);
}

select {
  border: 0;
  outline: none;
  cursor: pointer;

  background-color: var(--clr-very-light-grey);
  appearance: none;
  background-image: url(arrow-down.png);
  background-position-x: right;
  background-position-y: center;
  background-size: 3rem;
  background-repeat: no-repeat;
}



